html
    head
        title= title
    style
        include quiz.css
    body
        h1= _message
        form(action = "/" method = "POST" class = "login")
            label(class = "login") Nowe hasło: 
            input(type = "text" name = "new_password_1" class = "write_login" class = "login")
            label(class = "login") Powtórz nowe hasło: 
            input(type = "text" name = "new_password_2" class = "write_login" class = "login")
            input(type = "submit" name = "commit_change" value = "Zastosuj" class = "click_login" class = "login")
            input(type = "submit" name = "comeback_change" value = "Wróć" class = "click_login")
            input(type = "hidden" name = "_csrf" value = _req.csrfToken())